# python cache
__pycache__/

# log files
*.log

# Environments
.env

# VSCode settings
.vscode/
.trae/

# data files
data/

# static
static/voice/

# node_modules
node_modules/
package-lock.json
package.json
settings.json

# test
test/
rules/

# build files
dist/
build/
*.egg-info/

# claude
.claude/
CLAUDE.md
CLAUDE_zh.md

# code_rules
CODE_GUIDELINES.md

# any4dh
asr.html
static/dh/chat.html
static/js/index/dh/asr/
static/js/index/dh/chat.js
core/any4dh/results/

# backups
backups/

# adb
core/tools/adb/

# docs
example.md
example_zh.md
